#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        Henkan {
            bindings = <&kp LS(SPACE)>;
            key-positions = <38 37>;
        };

        A_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <37 36>;
        };
    };

    macros {
        A1980: A_1980 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N9 &kp N8 &kp N0 &kp N1 &kp N4 &kp N4 &kp N5>;
            label = "A_1980";
        };

        A1003: A_1003 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N0 &kp N0 &kp N3 &kp N2 &kp N5 &kp N3 &kp N0>;
            label = "A_1003";
        };

        A123: A_123 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N2 &kp N3 &kp N0 &kp N9 &kp N8 &kp Q &kp W &kp E &kp LS(P) &kp LS(O) &kp LS(I) &kp N0 &kp N7 &kp ENTER>;
            label = "A_123";
        };

        A2011: A_2011 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N0 &kp N1 &kp N1 &kp AT &kp F &kp U &kp J &kp I &kp F &kp I &kp L &kp M &kp ENTER>;
            label = "A_2011";
        };

        Apass: Apass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N2 &kp N3 &kp Q &kp W &kp E &kp LS(A) &kp LS(S) &kp LS(D) &kp LS(Z) &kp LS(X) &kp LS(C)>;
            label = "APASS";
        };
    };

    behaviors {
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 4 Q         &kp W         &kp E         &kp R      &kp T                                    &kp Y    &kp U  &kp I      &kp O    &kp P
&lt 4 A         &kp S         &kp D         &kp F      &kp G                         &kp MINUS  &kp H    &kp J  &kp K      &kp L    &kp BACKSPACE
&lt 4 Z         &kp X         &kp C         &kp V      &kp B          &kp F2         &kp ASTRK  &kp N    &kp M  &kp COMMA  &kp DOT  &mt LEFT_SHIFT SLASH
&kp LEFT_SHIFT  &kp LEFT_WIN  &kp LEFT_ALT  &lt 3 TAB  &lt 2 AT_SIGN  &lt 1 SPACE    &kp ENTER  &kp DEL                             &kp LCTRL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&kp LEFT_SHIFT  &kp LG(TAB)   &kp LG(UP_ARROW)  &mkp MB2       &mkp MB1                             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp SQT     &kp TILDE
&kp LA(F4)      &kp LG(LEFT)  &kp LG(DOWN)      &kp LG(RIGHT)  &mkp MB3            &kp EXCLAMATION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp HASH       &kp DOLLAR  &kp NON_US_BACKSLASH
&kp LC(W)       &trans        &kp PRINTSCREEN   &mkp MB5       &mkp MB4  &trans    &kp QUESTION     &kp LESS_THAN         &kp GREATER_THAN       &kp PERCENT    &kp LCTRL   &kp AMPERSAND
&trans          &trans        &trans            &trans         &trans    &trans    &kp COLON        &kp SEMICOLON                                                           &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_2 {
            bindings = <
&kp KP_NUMLOCK  &kp CAPSLOCK    &kp UP_ARROW    &kp PAGE_UP      &kp HOME                            &kp N7        &kp N8        &kp N9        &kp NUMBER_0  &kp PLUS
&kp LEFT_SHIFT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END                  &trans     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans        &kp MINUS
&kp LEFT_SHIFT  &trans          &trans          &kp PAGE_DOWN    &kp INSERT  &kp LG(V)    &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &kp ASTRK
&kp LEFT_SHIFT  &trans          &trans          &trans           &trans      &kp LG(V)    &kp EQUAL  &kp EQUAL                                               &kp SLASH
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &A1980   &A1003                     &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &A123    &A2011             &trans  &kp F4  &kp F5  &kp F6  &trans   &trans
&trans  &trans  &trans  &kp F15  &kp F16  &Apass    &trans  &kp F1  &kp F2  &kp F3  &trans   &trans
&trans  &trans  &trans  &trans   &trans   &trans    &trans  &trans                           &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &kp LC(A)  &kp LC(X)                                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &kp LC(Z)  &kp LC(C)                   &bootloader  &bt BT_NXT    &bt BT_PRV    &trans        &trans        &trans
&trans  &trans  &trans  &kp LC(Y)  &kp LC(V)  &trans           &trans       &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans     &trans     &kp LS(SPACE)    &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
